
body {
  margin:0;
  color: #000;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
}

#navbar {
    position: fixed;
    min-width: 300px;
    top: 0px;
    width: 300px;
    height: 100%;
    border-right: 1px solid;
    border-color: #eee;
}

#navbar a {
    float: left;
    display: block;
    width: 100%;
    color: #ddd;
    background: #4d4e53;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    float: left;
    display: block;
    width: 100%;
    color: #fff;
    background: #3a3ed3;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
  }

#main-doc {
    position: absolute;
    margin-left: 300px;
    padding: 20px;
}

#main-doc header {
    text-align: left;
    margin: 0px;
  }

header {
    color: #3a3ed3;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
  }


section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 15px;
}


code {
    background-color: #dcddff;
    border-radius: 3px;
    font-family: "Open Sans", Arial, sans-serif;

}

